@import url("../assets/font/stylesheet.css");

* {
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
  background: #eee;
  background-image: url('./light.png');
  font-family: 'Liberation-Sans-Narrow', Arial, Helvetica, sans-serif;
  color: #222;
  line-height: 1.4em;
  scroll-behavior: smooth;
}
.wrapper {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  max-width: 666px;
  margin-top: 2em;
}
a {
  color: #ff6600;
  text-decoration: none;
}
a:hover {
  color: #a74300;
}
h1 {
  padding: 0 0 20px 0;
  margin: 0;
  font-size: 1.5em;
  border-bottom: 0px solid #ccc;
  text-align: center;
  font-weight: normal;
  color: #666;
}
h2 {
  margin: 0;
  padding-top: 0.5em;
  font-size: 1.3em;
  color: #666;
  font-weight: normal;
}
h3 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  color: #222;
  font-weight: normal;
  margin-top: 10px;
}
s {
  color: #666;
  font-style: italic;
}
ul {
  margin: 5px 0 0 20px;
  padding: 0;
}
li {
  color: #555;
}
span {
  background: #bbb;
  color: #bbb;
  transition: all 0.2s ease-in-out;
}
span:hover {
  background: transparent;
  color: #222;
}
.block {
  padding: 1em;
  background: #e3e3e3;
  border: 1px solid #d7d7d7;
  /*border-radius: 5px;*/
}
.messagebox {
  background: #eedacb;
  border-left: 2px solid #ff6600;
}
.messagebox.red {
  background: #f2dede;
  border-left: 2px solid #c04842;
}
.messagebox.green {
  background: #dff0d8;
  border-left: 2px solid #3d763d;
}
.messagebox.blue {
  background: #d9edf7;
  border-left: 2px solid #31708f;
}
.messagebox.gray {
  background: #ccc;
  border-left: 2px solid #666;
}
.messagebox.white {
  color: #333;
  background: #eee;
  border-left: 2px solid #666;
}
.messagebox img {
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
  right: 5px;
  border: none;
}
.greentext {
  color: #799922;
}
.center {
  text-align: center;
}
.circle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 2px #ED773D solid;
  background: #ED773D;
  color: #eee;
  border-radius: 50%;
  text-align: center;
  font-size: 72px;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}
.circle:hover {
  border: 2px #d35f5f solid;
  background: #d35f5f;
  font-size: 50px;
}
.pagination a {
  transition: all 0.2s ease-in-out;
}
.pagination a:link,
.pagination a:visited {
  background-color: #ED773D;
  height: 18px;
  line-height: 18px;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.pagination a:hover,
.pagination a:active {
  background-color: #d35f5f;
}
.pagination a.disabled {
  background-color: #444;
  cursor: default;
  text-decoration: none;
}
.scroll-wrapper {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 99;
}
.btn-scroll {
    padding: 0;
    pointer-events: auto;
    border: none;
    border-radius: 50%;
   -webkit-user-drag: none;
    background-color: #ED773D;
    height: 40px;
    width: 40px;
    display: none;
}
.btn-scroll-icon {
    display: block;
    margin: 8px auto auto 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
    width: 24px;
    left: 0;
    position: absolute;
    top: 0;
   -webkit-user-drag: none;
   -webkit-user-select: none
}
#alisa {
  position: fixed;
  top: inherit;
  bottom: -8px;
  left: -174px;
  border: none;
  z-index: 666;
  opacity: 0;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
::selection {
  background: #fff;
  text-shadow: none;
}

@media (max-width: 320px) {
  #alisa img {
  width: 70%;
  height: 70%;
  }
}
