@import url("../assets/font/font.css");
* {
  border-color: #2E3436 !important;
}
html {
  margin: 0;
  padding: 0;
  background-color: #444 !important;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
body {
  background: transparent;
  padding: 2em;
  font-family: 'Liberation-Sans-Narrow';
  font-weight: normal;
  font-style: normal;
  width: 100%;
  height: 100%;
}
a, a:hover {
  color: #369;
}
h1 {
  margin: 0.5em;
}
h3 {
  margin-top: 0;
}
li {
  padding: 8px !important;
}
li:hover {
  background: #f1f1f1;
}
li, li:hover {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
strong {
  color: #B44B5D;
}
.time-text {
  text-align: right;
}
img {
  margin-right: 10px;
}
.panel-body {
  word-wrap: break-word;
}
.panel .panel {
  margin-bottom: 0;
}
.main-container {
  max-width: 500px;
  margin: 0 auto;
}
.main-container * {
  border-radius: 0;
}
html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
blockquote {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
  font-size: 12px;
  background: #f5f5f5;
  border-left: 2px solid #B44B5D !important;
  padding: 0.5em;
}
audio {
  width: 100%;
}
.container {
  width: 100%;
}
div.panel-heading {
  background-color: #2E3436 !important;
  padding: 7px;
}

div.panel-heading.clearfix > a.pull-left > img {
  border: none;
  border-radius: 50%;
  max-width: 32px;
  max-height: 32px;
}
div.panel-body.text-justify.post-content > a > img {
  margin: 0 auto !important;
}
.img-caption {
  padding: 0;
  margin: 0;
}
.panel-heading > .name {
  position: relative;
  top: 7px;
  right: 7px;
  margin-left: 5px;
  color: #fff;
}
.panel-heading small {
  position: relative;
  color: #fff;
  top: 7px;
  right: 7px;
}
button {
  outline: none;
  border: none;
  border-radius: 3px;
  margin-bottom: 7px;
  padding: 7px;
  padding-bottom: 4px;
  color: #636;
  text-transform: uppercase;
  border: 1px solid #636;
  box-shadow: 0 3px 0 #969;
  font-size: 1.2em;
  width: 50%;
}
button:active {
  box-shadow: none;
  transform: translate(0, 3px);
}
button:hover {
  cursor: pointer;
}
.scroll-wrapper {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 99;
}
.btn-scroll {
    padding: 0;
    pointer-events: auto;
    border: none;
    border-radius: 50%;
   -webkit-user-drag: none;
    background-color: #744778;
    background: #744778;
    height: 40px;
    width: 40px;
    display: none;
    opacity: .5;
    transition: all 0.25s ease-in-out;
}
.btn-scroll:hover{
    opacity: 1;
}
.btn-scroll-icon {
    display: block;
    margin: 8px auto auto 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
    width: 24px;
    left: 0;
    position: absolute;
    top: 0;
   -webkit-user-drag: none;
   -webkit-user-select: none
}
.thumbnail {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
}
.caption {
  position: absolute;
  top: 100%;
  right: 0;
  background: linear-gradient(to top, rgba(46,52,54,1), rgba(46,52,54, 0));
  width: 100%;
  height: 20%;
  padding-top: 0em;
  margin-top: 0.5em;
  text-align: center;
  color: #fff !important;
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.thumbnail:hover .caption {
  top: 80%;
  opacity: 1;
}
::selection {
  background: #369;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #369;
  color: #fff;
  text-shadow: none;
}


@media screen and (max-width: 480px) {
  html {
    background-color: #2E3436 !important;
    background-image: none;
  }
  body {
    padding: 0;
  }
  .caption {
    display: none;
  }
  .main-content {
    box-shadow: none;
  }

}
