@import url("./font/font.css");

html {
  width: 100%;
  height: 100%;
  background: #2E3436;
  background: url('./images/dark.png');
  background-color: #2E3436;
  scroll-behavior: smooth;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: 'Liberation-Sans-Narrow' !important;
}
img {
  border: none;
}
sup {
  color: #fff;
  opacity: .25;
  transition: all 0.5s ease-in-out;
}
sup:hover {
  opacity: 1;
}
strong {
  color: #fff;
}

.alert.alert-warning > a {
  color: #ddd;
  text-decoration: underline;
}
.alert.alert-warning > a:hover {
  color: #ccc;
  text-decoration: none;
}

.header {
  background: #2E3436;
  background: url('./images/dark.png');
  background-color: #2E3436;
}
.header-brand {
  cursor: default;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.header-nav > li {
  display: inline-block;
}
.alert-warning {
  background-color: #9d4253;
  color: #eee;
  border: none;
}
.nav-pills > li > a,
.nav-pills > li > a:focus {
  color: #999;
  background-color: #353c3d;
  transition: all 0.5s ease-in-out;
}
.nav-pills > li > a:hover {
  color: #999;
  background-color: #242b2c;
  transition: all 0.5s ease-in-out;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #eee;
  background-color: #336699;
  transition: all 0.5s ease-in-out;
}
.header-nav > li + li {
  margin-left: 20px;
}
.head-icon {
  max-width: 32px;
  max-height: 32px;
  margin-top: -0.15em;
  margin-right: 0.15em;
}
.inner {
  padding: 2em;
  background: inherit;
}
.item, .header, .footer, .alert {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 4px 2px -2px rgba(0,0,0,.12);
}
.item {
  outline: none;
  border: none;
  border-radius: 0;
  border-top-left-radius: 17px;
  border-bottom-right-radius: 17px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9em;
  padding: 1em;
  padding-bottom: 0;
  margin: 1em;
  width: 120px;
  background: rgba(0,0,0,.1);
  transition: all 0.5s ease-in-out;
  color: #eee;
  float: left;
}
.item:hover {
  background: rgba(168,99,196,.25);
  transition: all 0.5s ease-in-out;
}
.item-corrupted, .item-corrupted:hover {
  opacity: 0.5;
  cursor: default;
  background: rgba(0,0,0,.1);
  transition: none;
}

.item p {
  font-size: 16px;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.2em;
}
.item img {
  max-width: 96px;
  max-height: 96px;
  margin: 0;
  padding: 0;
}

.scroll-wrapper {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 99;
}
.btn-scroll {
    padding: 0;
    pointer-events: auto;
    border: none;
    border-radius: 50%;
   -webkit-user-drag: none;
    background-color: #B44B5D;
    background: #B44B5D;
    height: 40px;
    width: 40px;
    display: none;
    opacity: .5;
    transition: all 0.25s ease-in-out;
}
.btn-scroll:hover{
    opacity: 1;
}
.btn-scroll-icon {
    display: block;
    margin: 8px auto auto 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
    width: 24px;
    left: 0;
    position: absolute;
    top: 0;
   -webkit-user-drag: none;
   -webkit-user-select: none
}

.content {
  background: #353C3D;
  background: url('./images/medium.png');
  background-color: #353C3D;
}
.footer {
  color: #999;
}
.footer h4 {
  text-align: left;
  color: #eee;
}
.footer h4.middle {
  text-align: center;
}
.footer ul {
  text-align: left;
  padding-left: 0.5em;
}
.footer {
  background: url('./images/dark.png');
  color: #aaa;
  font-size: 14px;
}
.footer .list-group-item,
.footer .list-group-item:focus,
.footer .list-group-item:active,
.footer .list-group-item:visited {
  background-color: #353c3d;
  border-radius: none;
  box-shadow: none;
  border: none;
  color: #eee;
}
.footer .list-group-item {
  background-color: #353c3d;
  border-radius: none;
  border: none;
  color: #eee;
  margin-bottom: 8px;
  transition: all 0.25s ease-in-out;
}
.footer .list-group-item:hover {
  color: #eee;
  background: #9d4253;
  transition: all 0.25s ease-in-out;
}
.footer-inner {
  margin: 0;
  padding: 1em 0;
  background: #2E3436;
  background: url('./images/dark.png');
  background-color: #2E3436;
}
.footer-inner a,
.footer-inner a:link,
.footer-inner a:hover,
.footer-inner a:visited {
  color: #eee;
  border: none;
  text-decoration: none;
}
.footer-header {
  font-weight: bold;
  font-family: 'Liberation Sans Narrow';
  padding: 0;
  margin: 8px 0;
  border-bottom: 3px #353c3d solid;
}
.footer-copyright {
  padding: 1em 0;
  margin-bottom: 3em;
  font-size: 13px;
  color: #fff;
}
.footer-copyright, .alert-warning {
  background-clip: border-box !important;
  background-origin: border-box !important;
  background: linear-gradient(135deg,#9d4253,#79589f);
}
.footer-copyright a {
  color: #eee;
  text-decoration: none;
  border-bottom: 1px #353c3d dotted;
  text-align: left;
}
.footer-copyright a:hover {
  color: #aaa;
}

.close {
  transition: all 0.5s ease-in-out;
}

/* Костьльное решение на селекторах! Спешите видеть! */
body > footer > div.footer-inner > div {
  width: 100%;
  margin: 0 auto;
}

/* Зачем-то взято из changelog-а */

.block {
  padding: 1em;
  background: #e3e3e3;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}
.messagebox {
  background: #eedacb;
  border-left: 2px solid #ff6600;
}
.messagebox.red {
  background: #f2dede;
  border-left: 2px solid #c04842;
}


::selection {
  background: #9d4253;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #9d4253;
  color: #fff;
  text-shadow: none;
}
@media (max-width: 480px) {
  .header-brand, .header-nav {
    width: 100%;
    text-align: center;
  }
  .header nav {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
@media (max-width: 240px) {
  html, body {
    background-color: #353c3d;
  }
  .inner {
    padding: 8px;
    margin: 8px; 
    background-image: none;
  }
  .item {
    width: 80%;
    box-shadow: none;
    float: none;
  }
  h2.header-brand, .header-nav {
	font-size: 1.1em;
    width: 100%;
    text-align: center;
  }
  .header .nav-pills > li {
    display: block;
    width: 100%;
  }
  a:hover {
    text-decoration: none;
  }
}
