@font-face {
    font-family: 'Liberation-Sans-Narrow';
    src:url('Liberation-Sans-Narrow.ttf.woff') format('woff'),
        url('Liberation-Sans-Narrow.ttf.svg#Liberation-Sans-Narrow') format('svg'),
        url('Liberation-Sans-Narrow.ttf.eot'),
        url('Liberation-Sans-Narrow.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
